*{
    font-family: quasimoda, sans-serif;
    font-weight: 100;
    font-style: normal;
}


body{
    margin-left:400px;
    margin-right:400px;

}
.projects{
    font-family: quasimoda, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:30px;
    width:100%;
    margin-top:50px;
}

.headline{
    font-size:60px;
    font-weight:300;
    text-align:center;
}
.subtitle{
    font-size:20px;
    font-weight:300;
    color:rgb(65, 65, 65)
}
.tools{
    font-size:15px;
    font-weight:300;
    color:rgb(65, 65, 65);
    opacity:0.8;
}

a{
    text-decoration: none;
}

a:hover{
    transform:scale(1.2) translateY(-30px);
    font-weight:600;
}

.contents{
    position:relative;
    top:100px;
    text-align: center;
}
